body {
    width: 100%;
}

section {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #1d1d1d;

    font-family: 'Roboto Slab', sans-serif;
    color: #fff;
}

section h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 40px;
}

section .chats {
    position: absolute;
    top: 55%;
    left: 28.5%;
    transform: translate(-50%, -50%);

    width: 300px;
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #1d1d1d;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 10px;
}

.chats .chat {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 10px;
    border-radius: 10px;

    color: #ffffff;
    font-size: 20px;
    font-weight: 600;

    > i {
        display: none;
    }
}

.chat:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}

.chat:hover i {
    display: block;

    font-size: 25px;
    color: #fff;

    cursor: pointer;
}

section .chat-container {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1d1d1d;
    border-radius: 10px;
}

.chat-container .chat-box {
    position: relative;
    top: -50px;

    /* border: 1px solid #fff; */
    height: 80%;
    width: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    overflow-y: auto;
}

.chat-container .chat-box::-webkit-scrollbar {
    width: 10px;
}

.chat-container .chat-box::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
}

.chat-box .message {
    display: flex;
    flex-direction: column;

    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    width: fit-content;

    background-color: #3a3a3a;

    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.chat-box .beamAI {
    align-self: flex-start;
}

.chat-box .user {
    align-self: flex-end;
}

.chat-container .input-container {
    position: fixed;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10%;

    margin-top: 20px;
}

.input-container .input {
    width: 80%;
    height: 100px;

    padding: 5px;
    border-radius: 20px 0 0 20px;
    border: none;
    border-right: 1px solid #fff;
    margin-top: 20px;

    background-color: #3a3a3a;
    color: #ffffff;
    font-size: 20px;
}

.input input {
    width: 100%;
    height: 50%;

    padding: 10px;
    border: none;
    outline: none;
    background-color: #3a3a3a;
    color: #ffffff;
    font-size: 20px;
}

.input .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: 5px;
    margin-left: 10px;
    
    font-size: 30px;
}

.input-container #send-button {
    background-color: #3a3a3a;

    width: 20%;
    height: 100px;

    color: #ffffff;
    font-size: 30px;
    font-weight: 600;

    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    padding: 10px 20px;
    margin-top: 20px;

    cursor: pointer;
}

#ai-typing {
    position: fixed;
    bottom: 100px;
    left: 20px;
}

.ai-typing.active {
    width: 120px;
    height: 60px;
    background-color: #3a3a3a;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 20px;

    > .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 5px;
        animation: bounce 1s infinite;
    }

    > .circle:nth-child(2) {
        animation-delay: 0.2s;
    }

    > .circle:nth-child(3) {
        animation-delay: 0.4s;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}