#feed {
    width: 82%;
    position: relative;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* Allow the feed container to adjust its height */
}

/* Feed Form */
#feed .feed-form {
    width: 50%;
    margin-left: 400px;
    margin-top: 200px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--box-colour);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.feed-form .row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.row #feed-content {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 2px solid var(--border-colour);
    border-radius: 5px;
    background-color: var(--input-colour);
}

.feed-form .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row #feed-content {
    font-size: 20px;
    border-radius: 25px;
}

.row input[type="file"] {
    display: none;
}

.row .selectors {
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.row .selectors label {
    cursor: pointer;
    color: var(--text-colour);
    background-color: var(--button-colour);
    border-radius: 5px;
    font-size: 40px;
}

.row .selectors button {
    cursor: pointer;
    color: var(--text-colour);
    background-color: var(--button-colour);
    border-radius: 5px;
    font-size: 40px;
}

.row #postBtn {
    cursor: pointer;
    align-self: flex-end;
    background: transparent;
    border: 2px solid var(--border-colour);
    border-radius: 30px;
    padding: 5px 40px;
    font-size: 30px;
}

/* Feed Post */
#feed .feed-posts {
    width: 50%;
    margin-left: 400px;
    margin-top: 50px;
    overflow: visible; /* Allow the feed posts container to expand */
    height: auto; /* Allow the feed posts container to adjust its height */
    font-family: var(--normal-font);
}

.feed-posts .post {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--box-colour);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.post .row .post-info {
    margin-right: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post .row #post-menu {
    cursor: pointer;
    font-size: 30px;
}

.row button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
}

.row .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

/* Feed Form */

/* Feed Post */

#feed .feed-posts {
    width: 50%;
    margin-left: 400px;
    margin-top: 50px;

    overflow-y: auto;
    height: auto;

    font-family: var(--normal-font);
}

.feed-posts .post {
    width: 100%;
    height: auto;

    margin-bottom: 20px;
    padding: 20px;

    border-radius: 20px;

    background-color: var(--box-colour);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    > .row {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.post .row .post-info {
    margin-right: auto;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post .row #post-menu {
    cursor: pointer;
    font-size: 30px;
}

.row button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
}

.row .buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-left: auto;
}

.post #postMenu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    padding: 10px;
    border-radius: 10px;
    background-color: var(--box-colour);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

#postMenu.show {
    display: block;
}

@media screen and (max-width: 768px) {
    #feed {
        width: 90%;
        margin-left: -40px;
        margin-top: 0;
    }

    #feed .feed-form {
        width: 100%;
        margin-left: 120px;
    }

    #feed .feed-posts {
        width: 100%;
        margin-left: 120px;
        margin-top: 50px;
    }
    
}